<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='bath.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles/fontawesome/css/all.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#download-csv').click(function() {
          var html = $('html').html();
          $.ajax({
            type: 'POST',
            url: '/download_csv',
            data: {html: html},
            dataType: 'text',
            beforeSend: function(xhr) {
              xhr.overrideMimeType('text/plain; charset=utf-8-sig');
            },
            success: function(response) {
              var blob = new Blob([response], {type: 'text/csv;charset=utf-8-sig'});
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = 'table.csv';
              link.click();
            },
            error: function(xhr, status, error) {
              // обработка ошибки
            }
          });
        });
      });
    </script>
  </head>
  <body>
    <header>
       <nav>
          <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}">
          </div>
          <ul>
              <li><a href="/">Главная</a></li>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Услуги</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="{{ url_for('amount_change') }}">Восстановить товар</a></li>
           </ul>
           <div class="search-box">
              <form class="search-form" action="{{ url_for('search') }}" method="POST">
                <input type="hidden" name="form_id" value="nav-search">
                <input type="text" name="search_term" placeholder="Поиск...">
                <button type="submit" class="search-button"><i class="fa fa-search"></i>
                </button>
              </form>
          </div>
      </nav>
    </header>
    <div class="container">
      {% block content %}
      
      {% endblock %}
    </div>

    <footer>
      <a href="#titl">В начало</a>
      <a href="/">К категориям</a>
      <a href="{{ url_for('logout') }}">Выйти</a>
    </footer>
  </body>
</html>