<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#download-csv').click(function() {
          var html = $('html').html();
          $.ajax({
            type: 'POST',
            url: '/download_csv',
            data: {html: html},
            dataType: 'text',
            beforeSend: function(xhr) {
              xhr.overrideMimeType('text/plain; charset=utf-8-sig');
            },
            success: function(response) {
              var blob = new Blob([response], {type: 'text/csv;charset=utf-8-sig'});
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = 'table.csv';
              link.click();
            },
            error: function(xhr, status, error) {
              // обработка ошибки
            }
          });
        });
      });
    </script>
  </head>
  <body>
    <header>
       <nav>
          <ul>
              <li><a href="/">Главная</a></li>
              <li><a href="#">О нас</a></li>
              <li><a href="#">Услуги</a></li>
              <li><a href="#">Контакты</a></li>
              <li><a href="{{ url_for('amount_change') }}">Восстановить товар</a></li>
              <li> <button id="download-csv">Скачать таблицу</button></li>
           </ul>
           <div class="search-box">
              <form class="search-form" action="{{ url_for('search') }}" method="post">
              <input type="text" name="search_term" placeholder="Поиск...">
              <button type="submit" class="search-button"><i class="fa fa-search"></i>
                <svg class="search-icon" height="34px" width="34px" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="m15.985 17.031c-1.479 1.238-3.384 1.985-5.461 1.985-4.697 0-8.509-3.812-8.509-8.508s3.812-8.508 8.509-8.508c4.695 0 8.508 3.812 8.508 8.508 0 2.078-.747 3.984-1.985 5.461l4.749 4.75c.146.146.219.338.219.531 0 .587-.537.75-.75.75-.192 0-.384-.073-.531-.22zm-5.461-13.53c-3.868 0-7.007 3.14-7.007 7.007s3.139 7.007 7.007 7.007c3.866 0 7.007-3.14 7.007-7.007s-3.141-7.007-7.007-7.007zm.741 8.499h-4.5c-.414 0-.75.336-.75.75s.336.75.75.75h4.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm3-2.5h-7.5c-.414 0-.75.336-.75.75s.336.75.75.75h7.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75zm0-2.5h-7.5c-.414 0-.75.336-.75.75s.336.75.75.75h7.5c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z" fill-rule="nonzero"/></svg>
              </button>
              </form>
          </div>
      </nav>
    </header>
    <div class="container">
      {% block content %}
      
      {% endblock %}
    </div>

    <footer>
      <a href="#titl">В начало</a>
      <a href="/">К категориям</a>
      <a href="{{ url_for('logout') }}">Выйти</a>
    </footer>
  </body>
</html>