{% extends 'base.html' %}

{% block title %}Категории товаров{% endblock %}

{% block content %}
      <div class="categories-wrapper">
      {% for category in categories %}
        <a class="cat_link" href="/manufacturers/{{ category.id }} ">
        <div class="categories-images">
            <img class="category-icon" src="{{ url_for('static', filename='images/icons/' + category.name_eng + '.svg') }}" alt="Category icon">
            <p class="crg_name">{{category.name}}</p>
        </div>
      </a>
      {% endfor %}
    </div>

    <form class="adding-category" method="POST" action="/add_category">
      <label for="name">Название:</label>
      <input type="text" name="name" required>
      <button type="submit">Добавить</button>
    </form>

     <div class="last_sales">
       {% for el in data_dict %}
            <h3>{{ el }}</h3>
            {% for info in data_dict[el] %}
                <br>
                <span>{{ info[0] }}</span>
                <span>{{ info[1] }}</span>
                <span class="prices">{{ info[2] }}</span>
            {% endfor %}
            <br>
            <p>Сумма за день: {{ sales_sum[el] }}</p>
            <hr>
        {% endfor %}
      </div>




    
  
{% endblock %}