<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Вход</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='bath.png') }}">
    <link href="{{ url_for('static', filename='styles/fontawesome/css/all.css') }}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">

</head>
<body>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form method="post">
                    {{ form.hidden_tag() }}
                    <h2>Вход</h2>
                    <div class="inputbox">
                        <i class="fa-solid fa-lock"></i>
                        {{ form.password() }}
                        <label for="password">Пароль</label>
                    </div>
                    <button type="submit" class="btn">Войти</button>
                </form>
            </div>
            {% if message %}
            <div class="message">
                <p>{{ message }}</p>
            </div>
        </div>
    {% endif %}
    </section>


</body>
</html>


