<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">

</head>
<body>
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <form method="post" class="text-center">
            <h1 class="mb-5">Введите пароль:</h1>
            <div class="form-group">
                <label for="password">Пароль</label>
                <input type="password" name="password" class="form-control" id="password">
            </div>
            <button type="submit" class="btn btn-primary mt-3">Войти</button>
        </form>
    </div>
</body>
</html>


