{% extends 'base.html' %}

{% block links %}
<link href="{{ url_for('static', filename='styles/history.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}История продаж{% endblock %}

{% block content %}
    <table>
        <caption>Продажи за последний месяц</caption>
        <thead>
            <tr>
                <th>Дата</th>
                <th>Проданные товары</th>
                <th>Сумма за день</th>
            </tr>
        <thead>
        <tbody>
        {% for i in range(len(labels)-1, -1, -1) %}
        <tr>
            <td>{{ labels[i] }}</td>
            <td>
                <ol>
                {% for j in range(len(products[i])) %}
                    <li>
                    <p><span class="product_name">{{ products[i][j]['name'] }}</span>
                       <span class="product_sku"> ({{ products[i][j]['sku'] }})</span>
                        за <span class="product_price">{{ products[i][j]['price'] }} руб</span>
                    </p>
                    </li>
                {% endfor %}
            </ol>
            </td>
            <td> {{ data[i] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
