.extended-search {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.extended-search form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
}


.select-form {
    margin-right: 1em;
}

.select-form select {
    font-size: 1em;
    outline: none;
    padding: 0.5em;
    padding-right: 1em;
    background-color: #666;
    color: white;
    border-radius: 10px;
}

.select-form input[type="text"] {
    font-size: 1em;
    padding: 0.5em;
    border: none;
    max-width: 200px;
    outline: none;
    background-color: #666;
    color: white;
    border-radius: 10px;

}
.select-form input[type="text"]::placeholder {
    color: #aaa;
}

.extended-search button {
    display: block;
}
