<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='bath.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Macondo&family=Raleway:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@400;500;600&family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/extended_search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/fontawesome/css/all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    {% block links %} {% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('#download-csv').click(function() {
          var html = $('html').html();
          $.ajax({
            type: 'POST',
            url: '/download_csv',
            data: {html: html},
            dataType: 'text',
            beforeSend: function(xhr) {
              xhr.overrideMimeType('text/plain; charset=utf-8-sig');
            },
            success: function(response) {
              var blob = new Blob([response], {type: 'text/csv;charset=utf-8-sig'});
              var link = document.createElement('a');
              link.href = window.URL.createObjectURL(blob);
              link.download = 'table.csv';
              link.click();
            },
            error: function(xhr, status, error) {
              // обработка ошибки
            }
          });
        });
      });
    </script>
  </head>
  <body>
    <header>
       <nav>
          <ul>
              <li><a href="/">Главная</a></li>
           </ul>
            <div class="contacts">
              <p> <i class="fa-solid fa-phone"></i><span>8(888)888-88-88</span></p>
            </div>
      </nav>
    </header>
    <section id="sidebar" class="hide">
        <div class="extended-search">
          <button type="button" id="toggle-btn">
            <i class="fa-brands fa-searchengin"></i>
          </button>
          <form action="{{ url_for('search') }}" method="POST">
            <input type="hidden" name="form_id" value="extended-search">

            <div class="select-form">
              <select id="category" name="category">
                <option value="">Все категории</option>
                {% for category in categories %}
                  <option value="{{ category.id }}">{{ category.name }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="select-form">
              <select id="manufacturer" name="manufacturer">
                <option value="">Все производители</option>
                {% for manufacturer in manufacturers_set %}
                  <option value="{{ manufacturer }}">{{ manufacturer }}</option>
                {% endfor %}
              </select>
            </div>

            <div class="select-form faucet-field">
              <select id="fct_type" name="fct_type">
                <option value="">Все типы</option>
                <option value="для умывальника">Для умывальника</option>
                <option value="для кухни">Для кухни</option>
                <option value="для ванны">Для ванны</option>
                <option value="для биде">Для биде</option>
              </select>
            </div>

            <div class="select-form faucet-field">
              <input type="text" id="color" name="color" placeholder="цвет смесителя">
            </div>

            <div class="select-form">
              <input type="text" id="name_term" name="name_term" placeholder="название либо артикул">
            </div>
            <div class="select-form">
              <input type="text" id="descr_term" name="descr_term" placeholder="слово в описании">
            </div>
          <button type="submit" class="search-button icon-button"><i class="nav-icon fa fa-search"></i></button>
        </form>
      </div>
    </section>
    <div class="container">
      {% block content %}
      
      {% endblock %}
    </div>

    <footer>
      <a href="#titl">В начало</a>
      <a href="/">К категориям</a>
    </footer>
    <script type="text/javascript">
  // Получаем элементы, которые нужно показать/скрыть
  var faucetFields = document.querySelectorAll('.faucet-field');

  // Получаем элемент выбора категории
  var categorySelect = document.getElementById('category');

  // Обработчик изменения значения элемента выбора категории
  categorySelect.addEventListener('change', function() {
    // Если выбрана категория "смесители", то показываем поля для выбора типа и цвета
    if (categorySelect.value === '5') {
      for (var i = 0; i < faucetFields.length; i++) {
        faucetFields[i].style.display = 'block';
      }
    }
    // Иначе скрываем поля для категории "смесители"
else {
for (var i = 0; i < faucetFields.length; i++) {
faucetFields[i].style.display = 'none';
}
}
});
</script>
<script>
  const sidebar = document.getElementById('sidebar');
  const toggle_btn = document.getElementById('toggle-btn');

  toggle_btn.onclick = function() {
    sidebar.classList.toggle('hide');

  }
</script>
  </body>
</html>