{% extends 'base.html' %}

{% block links %}
{% endblock %}

{% block title %}Profinters - магазин сантехники{% endblock %}

{% block content %}
    <div class="categories-wrapper">
      {% for category in categories %}
        <a class="cat_link" href="/manufacturers/{{ category.id }} ">
            <div class="categories-images">
                <img class="category-icon" src="{{ url_for('static', filename='images/icons/' + category.name_eng + '.jpg') }}" alt="Category icon">
            </div>
            <div class="category-name"><h3>{{ category.name }}</h3></div>
        </a>
      {% endfor %}
    </div>
    
  
{% endblock %}