{% extends 'base.html' %}

{% block title %} {{manufacturer.name }} {% endblock %}

{% block content %}
     <h1>The number of the products is {{ products|length }}</h1>
     <h2 id="titl">Manufacturer: {{ manufacturer.name }}<button id="download-csv"><i class="fas fa-download"></i></button></h2>
     <h4><a href="#add_form">To the end of the page</a></h4>
     <div id="image-container">
     </div>
    <table class="products_table">
    <thead>
      <tr>
        <th data-type="string">Name</th>
        <th data-type="string">Sku</th>
        <th data-type="string">Description</th>
        {% if category_name == "mixers" %}
        <th>Type</th>
        <th>Color</th>
        <th>isWithFilter</th>
        {% endif %}
        <th data-type="number">Price</th>
        <th>Quantity</th>
        <th>Price date</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td><button type="submit" data-image-url="{{ url_for('static', filename='images/products/' + product.sku + '.jpg') }}" class="icon-button show-image"><i class="table-icon fa-regular fa-image"></i></button>
        {{ product.name }}
        </td>
        <td class="sku">{{ product.sku }}</td>
        <td class="products_descr">{{ product.description }}</td>
        {% if category_name == "mixers" %}
        <td>{{ product.fct_type }}</td>
        <td>{{ product.color }}</td>
        <td>{{ product.fct_fltr }}</td>
        {% endif %}
        <td class="products_price">{{ product.price }} &#8381;</td>
        <td class="table_buttons">
          <form class="upd_form" method="POST" action="/update_quantity/{{ product.id }}">
            <input type="hidden" name="quantity" value="{{ product.quantity }}">
            <input type="hidden" name="category_name" value="{{ category_name }}">
            <input type="hidden" name="product_id" value="{{ product.id }}">
            <button class="sellDialog icon-button" type="button">
              <i class="fa-solid fa-circle-minus table-icon"></i>
            </button>
                <div class="sellModal">
                <div class="modal-content">
                  <span class="close">&times;</span>
                  <p>Если товар был продан, то введите дату продажи и нажмите на кнопку "Продано"</p>
                  <p>Если же вы хотите удалить единицу товара без заноса в базу данных, то нажмите "Удалить"</p>
                  <p>Нажмите "Отмена" для выхода</p>
                  <input type="date" name="sale_date">
                  <button type="submit" class="update-quantity" name="action" value="-">Продано</button>
                  <button type="submit" class="update-quantity" name="action" value="del">Удалить</button>
                  <button type="button" class="cancelbtn">Отмена</button>
                </div>
                </div>
            <span class="product_quantity" id="quantity-{{ product.id }}">{{ product.quantity }}</span>
            <button type="submit" class="update-quantity icon-button" name="action" value="+">
              <i class="fa-solid fa-circle-plus table-icon"></i>
            </button>
          </form>
        </td>
        <td>{{ product.last_updated.strftime('%Y-%m-%d %H:%M')}}</td>
        <td class="table_actions">
          <form method="GET" action="/edit_product/{{ product.id }}">
            <button type="submit" class="icon-button"><i class="table-icon fa-solid fa-marker"></i>
            </button>
            <input type="hidden" name="category_name" value="{{ category_name }}">
          </form>
          <form method="POST" action="/delete_product/{{ product.id }}">
            <button type="button" class="icon-button delete-button"><i class="table-icon fa-solid fa-trash"></i>
            </button>
            <input type="hidden" name="product_id" value="{{ product.id }}">
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>

    <form id="add_form" method="POST" action="/add_product/{{ manufacturer.id }}">
      <label for="name">Name:</label>
      <input type="text" name="name" required>
      <br>
      <label for="sku">Sku:</label>
      <input type="text" name="sku">
      <br>
      <label for="description">Description:</label>
      <input type="text" name="description">
      <br>
      {% if category_name == "mixers" %}
      <label for="color">Цвет</label>
      <input type="text" name="color">
      <br>
      <label for="fct_type">Type</label>
      <select name="fct_type">
        <option value="для умывальника">Для умывальника</option>
        <option value="для кухни">Для кухни</option>
        <option value="для ванны">Для ванны</option>
        <option value="для биде">Для биде</option>
      </select>
      <br>
      <label for="fct_fltr">Под фильтр</label>
      <input type="checkbox" name="fct_fltr" id="checkbox">

      {% endif %}
      <label for="price">Цена:</label>
      <input type="number" name="price" step="0.01" min="0" required>
      <br>
      <label for="quantity">Количество:</label>
      <input type="number" name="quantity" min="0" required>
      <br>
      <input type="hidden" name="category_name" value="{{ category_name }}">
      <button type="submit">Добавить</button>
    </form>

   <script>
    const table = document.querySelector('table');
    const headers = table.querySelectorAll('th');

    let sortDirection = 1;

    headers.forEach(header => {
        header.addEventListener('click', () => {
            const type = header.dataset.type;
            const index = header.cellIndex;
            const rows = Array.from(table.querySelectorAll('tbody tr'));

            sortDirection *= -1; // Reverse the sort direction

            rows.sort((rowA, rowB) => {
                const cellA = rowA.cells[index].textContent;
                const cellB = rowB.cells[index].textContent;

                if (type === 'number') {
                    return sortDirection * (parseFloat(cellA) - parseFloat(cellB));
                } else {
                    return sortDirection * cellA.localeCompare(cellB);
                }
            });

            // Reorder the rows based on the sorted array
            rows.forEach(row => table.querySelector('tbody').appendChild(row));

            // Reset all headers' classes to default
            headers.forEach(header => header.classList.remove('sorted-asc', 'sorted-desc'));

            // Set the class for the current header based on the sort direction
            if (sortDirection === 1) {
              header.classList.add('sorted-asc');
            } else {
              header.classList.add('sorted-desc');
            }
        });
    });
</script>

<script type="text/javascript">
// JavaScript код, который вызывает диалоговое окно
var sellDialogs = document.querySelectorAll(".sellDialog");
var sellModals = document.querySelectorAll(".sellModal");
var closeBtns = document.querySelectorAll(".close");
var cancelBtns = document.querySelectorAll(".cancelbtn");

sellDialogs.forEach(function(dialog, index) {
  var modal = sellModals[index];
  var close = closeBtns[index];
  var cancel = cancelBtns[index];

  dialog.addEventListener("click", function() {
    modal.style.display = "block";
  });

  close.addEventListener("click", function() {
    modal.style.display = "none";
  });

  cancel.addEventListener("click", function() {
    modal.style.display = "none";
  });

  window.addEventListener("click", function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  });
});

</script>

<script>
$(document).ready(function() {
  var $container = $('#image-container'); // объявляем переменную заранее

  $('.show-image').on('click', function() {
    event.stopPropagation();
    var imageUrl = $(this).data('image-url');
    var $image = $('<img>').attr('src', imageUrl);
    $container.empty().append($image).show();

    $(document).on('click', function(event) {
      if (!$container.is(event.target) && $container.has(event.target).length === 0) {
        $container.hide();
      }
    });

    $(document).on('scroll', function() {
      $container.hide(); // закрываем изображение при скролле
    });
    
  });
});
</script>

<script type="text/javascript" src="{{ url_for('static', filename='js/table_actions.js') }}"></script>
{% endblock %}
